

.text-gradient{
  align-items: center;
}



.Transportation{
  margin-top: 60px;
  min-height: 1024px;
}

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}

.f-left {
  float: left;
  padding-top: 4px;
}

.f-right {
  float: right;
}

.card-view{
  color: white;
  text-decoration: none;
}


.form-inline {
  justify-content: right;
}

.button-in-search{
  text-align: left;
}

.add-new-text {
  font-size: 15px;
  text-decoration: none;

}





.register1{
  background: transparent;
  margin-top: 3%;
  padding: 3%;
}
.register-left{
  text-align: center;
  color:#4099ff;
  margin-top: 4%;
  padding-top: 100px;
}

.register-left-green{
  text-align: center;
  color:#3bdaba;
  margin-top: 4%;
  padding-top: 100px;
}

.register-left-yellow{
  text-align: center;
  color:#FFB64D;
  margin-top: 4%;
  padding-top: 100px;
}

.register-left input{
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right{
  background: linear-gradient(45deg,#4099ff,#73b4ff);
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-right-green{
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.register-right-yellow{
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

.register-left-green img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

.register-left-yellow img{
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}
.register-left p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.register-left-green p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.register-left-yellow p{
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.register .register-form{
  padding: 10%;
  margin-top: 10%;
}
.btnRegister{
  float: right;
  margin-top: 32px;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}
.register .nav-tabs{
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link{
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
  border: none;
}
.register .nav-tabs .nav-link.active{
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading{
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #ffffff;
}

.form-label{
 color: white;
}

.form-group{
  text-align: left;
}

.form-shape{
  min-width: 800px;
}



/* Tables */
.table-container-bus{
  max-width: 1300px;
  margin: auto;
  padding: 10px;
}

.fas {
  margin: 10px;
}


.addnewbus {
  padding-left: 25px;
}

.titleview {
  font-family: sans-serif;
  color: black;
}

.searchbartrans {
  padding-right: 25px;
}

.topbartrans {
  padding-top: 10px;
  padding-bottom: 5px;
}

.transportables #headrowbus{
  background-color: #4099ff;
  
}

.transportables #headrowroute{
  background-color: #2ed8b6;
  
}

.transportables #headrowstaff{
  background-color: #FFB64D
  
}

.transportables th{
  font-weight: bold;
}

.transportation-form{
  margin-top: 50px;
}
.transportables #td-type1{
  background-color: #adadad2a;
}

.addbuttonbus #busbtn {
  background: #1482ff;
}

.addbuttonbus #routebtn {
  background: #09a888;
}

.addbuttonbus #staffbtn {
  background: #ff9f17
}

.icon-table i{
    -webkit-filter: sepia(100%) hue-rotate(90deg) saturate(400%);
    filter: sepia(100%) hue-rotate(200deg) saturate(400%);
    cursor: pointer;
  }
